apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ broker_name }}
  namespace: {{ broker_namespace }}
spec:
  groups:
    - name: ansible-service-broker-enabled
      rules:
        - alert: AnsibleServiceBrokerEnabled
          annotations:
            summary: Indicates whether the Ansible Service Broker is enabled
          expr: |
            automationbroker_info{namespace="{{ broker_namespace }}",automationbroker="{{ broker_name }}"} > 0
          labels:
            severity: warning
