---

apiVersion: v1
kind: ConfigMap
metadata:
  name: broker-config
  namespace: {{ broker_namespace }}
  labels:
    app: {{ broker_name }}
data:
  broker-config: |
    registry: {{ registries | to_json }}
    dao:
      type: crd
    log:
      logfile: /tmp/asb.log
      stdout: true
      level: "{{ log_level }}"
      color: true
    openshift:
      host: ''
      ca_file: ''
      bearer_token_file: ''
      image_pull_policy: "{{ apb_pull_policy }}"
      sandbox_role: "{{ sandbox_role }}"
      namespace: "{{ broker_namespace | quote }}"
      keep_namespace: {{ keep_namespace }}
      keep_namespace_on_error: {{ keep_namespace_on_error }}
    broker:
{% if dashboard_redirector_host is defined %}
      dashboard_redirector: https://{{ dashboard_redirector_host }}
{% endif %}
      bootstrap_on_startup: {{ bootstrap_on_startup }}
      refresh_interval: "{{ refresh_interval }}"
      launch_apb_on_bind: {{ launch_apb_on_bind }}
      output_request: {{ output_request }}
      recovery: true
      ssl_cert_key: /etc/tls/private/tls.key
      ssl_cert: /etc/tls/private/tls.crt
      auto_escalate: {{ auto_escalate }}
      user_auth_rule: {{ broker_user_auth_rule }}
      auth:
        - type: basic
          enabled: false
