---

kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "{{ broker_name }}-{{ broker_namespace }}-user-auth"
  labels:
{% if sandbox_role == 'admin' %}
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
{% endif %}
{%if sandbox_role == 'edit' %}
    rbac.authorization.k8s.io/aggregate-to-edit: "true"
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
{% endif %}
rules:
- apiGroups: ["automationbroker.io"]
  resources: ["{{ broker_user_auth_rule }}"]
  verbs: ["create"]
