#####
## CHANGE THESE TO REFLECT YOUR ENVIRONMENT
#####

# Typically the below values are:
#  For Linux, use OPENSHIFT_SERVER_HOST=172.17.0.1
#  For macOS, use OPENSHIFT_SERVER_HOST=192.168.37.1
OPENSHIFT_SERVER_HOST=172.17.0.1
OPENSHIFT_SERVER_PORT=8443

# BROKER_IP_ADDR must be the IP address of where to reach broker
#   it should not be 127.0.0.1, needs to be an address the pods will be able to reach
BROKER_IP_ADDR=${OPENSHIFT_SERVER_HOST}
DOCKERHUB_USERNAME=""
DOCKERHUB_PASSWORD=""
DOCKERHUB_ORG="ansibleplaybookbundle"
BOOTSTRAP_ON_STARTUP="true"
BEARER_TOKEN_FILE=""
BROKER_INSECURE="true"
CA_FILE=""
REFRESH_INTERVAL="600s"

# Disable basic auth. it is enabled by default
#ENABLE_BASIC_AUTH="false"

# BROKER_USER and BROKER_PASS must be base64 encoded.
# If not set, broker defaults to admin:admin
#   echo -n admin | base64
# the -n is VERY important
#BROKER_USER=
#BROKER_PASS=

# Always, IfNotPresent, Never
IMAGE_PULL_POLICY="Always"
